.out{
width: 100em;
height: 30em;
border-bottom: 6px solid red;
position: relative;
left: 0em;
}
.inside{
    width: 1em;
    height: 1em;
    border: 2px solid green;
    float: left;
    animation-name: box;
    animation-duration: 1.2s;
    background-color: red;
    position:absolute;
    bottom: 3em;
    animation-iteration-count: infinite;
    border-radius: 30em;
    
}
@keyframes box {
     20%{
        background-color: red;
        transform:translate(none,50px);
        height: 20em;
    } 
    30%{
        background-color: green;
    } 
    40%{
        background-color: orange;
    }
    39%{
        background-color: yellow;
    }
    35%{
        background-color: pink;
    }
    
}
.inside2{
    width: 1em;
    height: 1em;
    border: 3px solid green;
    background-color: red;
    position:absolute;
    left: 10em;
    bottom: 0px;
    animation-name: boxx;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    animation-delay: 1s;
    /* animation-timing-function: ease-out ease; */
    border-radius: 30em;
}
@keyframes boxx{
    20%{
        background-color: red;
        transform:translate(none,30px);
        height: 30em;
    }
    30%{
        background-color: green;
    }
    35%{
        background-color: yellow;
    }
    41%{
        background-color: pink;
    }
}
div:nth-child(3){
    position: absolute;
    left: 20em;
    background-color: red;
    
}
div:nth-child(4){
    position: absolute;
    left: 30em;
    background-color: red;
}
div:nth-child(5){
    position:absolute;
    left: 40em;
    background-color: red;
}
div:nth-child(6){
    position: absolute;
    left: 50em;
    background-color: red;
}
div:nth-child(7){
    position: absolute;
    left: 60em;
    background-color: red;
}
div:nth-child(8){
    position: absolute;
    left: 70em;
    background-color: red;
}
div:nth-child(9){
    position: absolute;
    left: 80em;
    background-color: red;
}
div:nth-child(10){
    position: absolute;
    left: 90em;
    background-color: red;
}
